@font-face {
  font-family: 'Pretendard';
  src: url(/assets/font/Pretendard-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'Pretendard';
  src: url(/assets/font/Pretendard-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'video';
  src: url(/assets/font/Video.woff);
  font-weight: 400;
}